html{
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: lightgrey;
}

.formBox {
    padding-left: 30px;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 45px;

    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;

    border-radius: 25px;
    background-color: #F6F6F6;
}

.boxContainer {
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
}


.logo{
    padding-bottom: 20px;
    padding-left: 50%;
}
    
.chat-box{
    padding-left: 30px;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 45px;

    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;

    border-radius: 20px;
    background-color: white;

}

#greenSquare {
    background-color: green;
    width: 100%;
    height: 200px;
    position: absolute;
}

.list-group-item{
    border-bottom: 0.5;

}

.list-group-item:hover{
    border-bottom: 0.5;
    background-color: lightgray;
}

.chat-box-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.col-4{
    overflow: auto;
    height:500px;
}

